input {
    text-align: left;
}



table {
    width: 100%;
    border: 1px gray solid;
}

td.footer {
    font-style: italic;
    text-align: right;
}

.table-container {
    width: 700px;
    height: 380px;
    overflow-y: auto;
}

mat-paginator {
    border: 1px gray solid;
    border-radius: 5px;
    float: left;
}

.code {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}

.type {
    position: relative;
    min-width: 60px;
    max-width: 60px;
    width: 60px;
}

.grandParent {
    position: relative;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: -10px;
    width: 450px;
}

.paginator {
    font-size: 12px;
    font-style: italic;
}

.dropdownpPopUp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
