
input {
  text-align: left;
}

table {
  width: 50%;
  margin-bottom: 1em;
}

td.footer {
  font-style: italic;
  text-align: right;
}

.table-container {
  width: 80%;
}

mat-paginator {
  border: 1px gray solid;
  border-radius: 5px;
  float: left;
}

.code {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}

.type {
  position:relative;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top:742px;
  left:225px;
  border: 2px gray solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

}
