<p><em>Un-constrained drop down box</em></p>
<form class="declarationType">
  <mat-form-field class="mat-form-field">
    <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="typeCtrl" class="unConstrainedDropdown">
    <mat-autocomplete #auto="matAutocomplete" [panelWidth]="700">
      <mat-option *ngFor="let type of declarationTypes$ | async" [value]="type.value" class="dropdownpPopUp">
        <span>{{type.value}}</span> |
        {{type.declarationTypeCodeDescription}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form [formGroup]="stateForm" class="countryGroupFormGroup">
  <mat-form-field>
    <input class="unConstrainedDropdown" type="text" matInput formControlName="stateGroup" required
      [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete" [panelWidth]="180">
      <mat-optgroup *ngFor="let group of stateGroupsOptions$ | async" [label]="group.letter">
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br>

<p><em>Constrained drop down box</em></p>
<form>
  <mat-form-field class="countryCode">
    <mat-select [(value)]="selectedCountry" (selectionChange)="onCountryCodeChanged(selectedCountry)" >
      <mat-option *ngFor=" let country of countries" [value]="country.code" class="dropdownpPopUp" >{{country.code}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width:100px;">
    <input cdkOverlayOrigin #tortelliniOrigin matInput disabled value={{selectedCountryName}} class="readOnlyControl">
  </mat-form-field>
</form>

<p><em>Lookup</em></p>

<!-- Modal dialog -->
<form [formGroup]="countryLookupModalDialogForm" class="lookupUpFormControl">
  <input matInput aria-label="State" [formControl]="countryLookupModalDialogForm" (keyup)="openLookupDialog($event)"
    class="lookup-input" [(ngModel)]="countryModalDialogLookupInput">
</form>
<br>

<!--  Expanding dialg -->
<form [formGroup]="countryLookupExpandingDialogForm" class="lookupUpFormControl">
  <input matInput aria-label="State" [(ngModel)]="countryLookupInput" [formControl]="countryLookupExpandingDialogForm"
    (keyup)="toggleLookup($event)" class="countryLookup">
  <div *ngIf="toggleLookupElement" class="countryLookup">

    <div class="example-container mat-elevation-z8">

      <div style="background-color:lightblue; text-align:center; padding:12px 0; margin-bottom:24px"
        [formGroup]="countryLookupExpandingDialogFormGroup">
        <input formControlName="countryCodeFC" type="text" placeholder="Country Code Filter" />
        &nbsp;
        <input formControlName="countryNameFC" type="text" placeholder="Country Name Filter" />
        &nbsp;
        <button (click)="clearAll()">X</button>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef class="tableHeader"> Code </mat-header-cell>
          <mat-cell *matCellDef="let element" class="tableCell"> {{element.code}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="tableHeader"> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="tableCell"> {{element.name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" (click)="cellClicked(row)">
        </mat-row>
      </mat-table>
      <mat-dialog-actions>
        <button mat-button color="primary" (click)="closeLookup()" style="float: right; margin-bottom: 10px;">Cancel</button>
      </mat-dialog-actions>
    </div>
  </div>
</form>

<p><em>Grids</em></p>
<div>
  <app-grid></app-grid>
</div>
