<label><em>Un-constrained drop down box</em></label>
<form class="declarationType">
  <mat-form-field class="mat-form-field">
    <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="typeCtrl" class="unConstrainedDropdown">
    <mat-autocomplete #auto="matAutocomplete" [panelWidth]="700">
      <mat-option  *ngFor="let type of declarationTypes$ | async" [value]="type.value">
        <span>{{type.value}}</span> |
        <small>{{type.declarationTypeCodeDescription}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </form>

  <form [formGroup]="stateForm" class="countryGroup">
    <mat-form-field class="countryGroup">
      <input class="unConstrainedDropdown" type="text" matInput formControlName="stateGroup" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupsOptions$ | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name" class="comboBox">
              {{name}}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <br>

<label><em>Constrained drop down box</em></label>
<form>
  <mat-form-field class="countryCode">
    <mat-select [(value)]="selectedCountry" (selectionChange)="onCountryCodeChanged(selectedCountry)">
      <mat-option *ngFor=" let country of countries"
      [value]="country.code" >{{country.code}}</mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field style="width:100px;">
      <input cdkOverlayOrigin #tortelliniOrigin matInput disabled value={{selectedCountryName}} class="readOnlyControl">
    </mat-form-field>
  </form>

  <label><em>Lookup</em></label>

  <form [formGroup]="stateForm" class="countryGroup">
  <input matInput aria-label="State"  [formControl]="countryCtrl" (keyup)="openLookupDialog($event)" class="lookup-input">
  </form>
