
.declarationType {
  min-width: 50px;
  max-width: 50px;
  width: 50%;
}

.mat-form-field {
  width: 50%;
  font-size: 12px;
}

.unConstrainedDropdown {
  min-width: 100px;
  max-width: 100px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95em;
}

.countryGroup {
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.countryCode{
  min-width: 50px;
  max-width: 50px;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95em;
}

.readOnlyControl {
  border: 1px gray solid;
  background: lightgray;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 5px;
  width: 100px;
}

.lookup-input {
  border: 1px gray solid;
  background: lightgray;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95em;
  padding: 5px;
}
