<h2>Country Lookup</h2>
<div
  style="background-color:lightblue; text-align:center; padding:12px 0; margin-bottom:24px"
  [formGroup]="myGroup"
>
  <input formControlName="countryCodeFC" type="text" placeholder="Country Code Filter" />
  &nbsp;
  <input formControlName="countryNameFC" type="text" placeholder="Country Name Filter" />
  &nbsp;
  <button (click)="clearAll()">X</button>
</div>

<cdk-virtual-scroll-viewport
  itemSize="0"
  style="height: 300px;"
>
  <table style="width: 100%;">
    <ng-container
      *cdkVirtualFor ="let row of rows"
    >
      <tr style="width:100%; min-height: 30px;">
        <td><mat-radio-button></mat-radio-button></td>
        <td>{{row.code}}</td>
        <td>{{row.name}}</td>
      </tr>
    </ng-container>
  </table>
</cdk-virtual-scroll-viewport>
<mat-dialog-actions>
  <button mat-button color="primary">OK</button>
  <button mat-button color="primary">Cancel</button>
</mat-dialog-actions>
